<div class="row">
    <div class="col-md-1">
        <h4 class="featurette-heading">
            Information
        </h4>
    </div>
    <div class="col-md-11">
        <ul class="top_center_list">
            <li class="c_1">{{primaryCurrency}}
                <span>/</span> {{secondaryCurrency}}</li>
            <li class="c_2" *ngFor="let param of marketSummary">{{param.ParamName }}:
                <span class="animr label-type2" id="label_last">{{param.ParamValue || 0 }}</span>
            </li>

        </ul>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <nvd3 [options]="options" [data]="chartData"></nvd3>
        </div>
    </div>
</div>
<h2 class="featurette-heading">
    ORDER BOOK
</h2>

<div *ngIf="isLogin">
    <div class="subtitle " style="padding:1vw;"> TRADING</div>
    <div class="row">
        <div class="col-lg-6">
            <buy [currencyData]=marketName [primaryCurrency]="primaryCurrency" [secondaryCurrency]="secondaryCurrency" [primaryCurrencyBalance]="primaryCurrencyBalance"
                [secondaryCurrencyBalance]="secondaryCurrencyBalance" (invokeHttpEvent)="invokeHttp($event)"></buy>
        </div>
        <div class="col-lg-6">
            <sell [currencyData]=marketName [primaryCurrency]="primaryCurrency" [secondaryCurrency]="secondaryCurrency" [primaryCurrencyBalance]="primaryCurrencyBalance"
                [secondaryCurrencyBalance]="secondaryCurrencyBalance" (invokeHttpEvent)="invokeHttp($event)"></sell>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <table-layout [records]=bidsAgCur [settings]="BuySellheaderSettings" title="BIDS"></table-layout>
    </div>
    <div class="col-md-6">
        <table-layout [records]=askAgCur [settings]="BuySellheaderSettings" title="ASKS"></table-layout>

    </div>
</div>

<table-layout [records]=marketHistory [settings]="marketHistoryheaderSettings" title="MARKET HISTORY"></table-layout>