<div class="well well-lg" style="overflow:hidden;" *ngIf="currentSlide">
    <div class="media">
        <div class="media-body">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="title media-heading">{{currentSlide.curname}} ({{currentSlide.curshortname}}) </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="subtitle">Last Price :</div>
                </div>
                <div class="col-lg-3">
                    <div class="subtitle" style="text-align:right">{{currentSlide.lastrate}}&nbsp;{{currentSlide.curshortname}}</div>
                </div>
                <div class="col-lg-6">
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="subtitle">24hr Volume : </div>
                </div>
                <div class="col-lg-3">
                    <div class="subtitle" style="text-align:right">{{currentSlide['24volume'] || 0}}&nbsp;{{currentSlide.curshortname}}</div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <div class="media-right">
            <a href="javascript:void(0)">
                <img  alt="64x64"[src]="currentSlide.cursymbolurl"  style="width: 140px; height: 110px;">
            </a>
        </div>
    </div>
</div>

<div style="overflow:hidden;">
        <!-- <div class="well well-lg" style="overflow:hidden;"> -->
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChangedFunction($event)"
        *ngIf="dashBoardHeader">
        <!-- <div ngxSlickItem class="slide" *ngFor="let data of dashBoardHeader" style="width:15vw; margin:1vw; display:inline-block; cursor: pointer; outline:none"
            (click)="currencyRoute(data)" routerLink="/markets/market" [queryParams]="{marketName: data.currencyshortname+'-'+ data.currencyshortname}"> -->
         <div ngxSlickItem class="slide" *ngFor="let data of dashBoardHeader" style="width:15vw; margin:1vw; display:inline-block; cursor: pointer; outline:none"
              (click)="currencyRoute(data)" >
            <div class="media">
                <div class="media-right">
                    <img [src]="data.cursymbolurl" alt="Image" style=" width:6vw;">
                </div>
                <div class="media-body" style="text-align: right;">
                    <p *ngIf="data.volume > data.gain ">Top Volume </p>
                    <p *ngIf="data.volume < data.gain">Biggest % Gain</p>
                    <p class="media-heading"> {{data.curname | uppercase}} ( {{data.curshortname}} )</p>
                    <p>{{data.volume}}&nbsp; {{data.curshortname}}</p>
                    <p>{{data.change || 0}} %</p>
                </div>
            </div>
        </div>
    </ngx-slick>
</div>


<table-layout [records]=btcMarketData [settings]="headerSettings" title="Bitcoin Markets"></table-layout>

<table-layout [records]=btrMarketData [settings]="headerSettings" title="Bitether Markets"></table-layout>