<h2>Generic Wallet</h2>
<div>
    <button class="btn btn-success btn-xs"  data-toggle="modal" (click)="myModal.show()"  ><span class="glyphicon glyphicon-plus"></span> Create Wallet </button>
</div>












<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="text-align:center!important; width:100%; " >Create Wallet</h2>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2vw;" >
                <form name="form" (ngSubmit)="f.form.valid && save(myModal)" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !accountname.valid }">
                        <label for="accountname" >Account Name</label>
                        <input type="text" class="form-control" name="accountname" [(ngModel)]="user.accountname" #accountname="ngModel" placeholder="Account Name" required />
                        <div *ngIf="f.submitted && !accountname.valid" class="help-block">Account Id is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <label for="email" >Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email Id" [(ngModel)]="user.email" #email="ngModel" required />
                        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !currency.valid }">
                        <label for="mobile" >Currency</label>
                        <input type="tel" class="form-control" name="currency" placeholder="Currency" [(ngModel)]="user.currency" #currency="ngModel" required />
                        <div *ngIf="f.submitted && !currency.valid" class="help-block">Select the Currency</div>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <button type="button" style="float:right; margin-left:0.6vw;"  class="btn btn-secondary" (click)="myModal.hide()">Close</button>
                    <button class="center-block" style="float:right; margin-left:0.6vw;"  type="submit" class="btn btn-primary">
                        <span style="margin-left:0.6vw;">Create</span>
                    </button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
    