<div class="col-md-12" style="padding:0px">
    <div class="row">
        <div class="col-xs-6">
            <span style="float:left">
                <h2 class="featurette-heading">
                     {{title}} 
                </h2>
            </span>
        </div>
        <div class="col-xs-6">
            <form class="form-inline form-search">
                <span class="form-group row" style="float:right">
                    <label>Filter:</label>
                    <input type="text" class="form-control" name="search" [(ngModel)]="inputName" (change)="FilterByName()">
                </span>
            </form>
        </div>
    </div>

    <table class="table table-striped  table-hover ">
        <thead>
            <tr>
                <th *ngFor="let key of keys" class="col-header th-header" (click)="sort(key)">
                    <span>{{ key }}</span>
                    <i class="fa" [ngClass]="{'fa-sort': column != key, 'fa-sort-asc': (column == key && isDesc), 'fa-sort-desc': (column == key && !isDesc) }"
                        aria-hidden="true"> </i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items |  orderBy: {property: column, direction: direction}">
                <td *ngFor="let key of keys" [ngStyle]="{'text-align':isNumber(item[key])?'center':'left'}">{{ item[key] }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;display:block">
        <div class="btn-group pull-right">
            <ul class="pagination">
                <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}">
                    <a (click)="prevPage()">Prev</a>
                </li>
                <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}">
                    <a (click)="nextPage()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>