<div style="margin-bottom:30px">
    <span *ngIf="userInfo" style="text-transform:uppercase">{{ userInfo.acname}}</span>'s Wallet
    <button class="btn btn-success btn-xs" data-toggle="modal" (click)="myModal.show()" style="float:right;"> Create Wallet</button>
</div>

<div class="row">
    <div class="col-12">

        <!-- 
    <table class="table table-striped  table-hover ">
        <thead>
            <tr>
                <th *ngFor="let key of keys" class="col-header th-header">
                    <span>{{ key }}</span>
                    <i class="fa" [ngClass]="{'fa-sort': column != key, 'fa-sort-asc': (column == key && isDesc), 'fa-sort-desc': (column == key && !isDesc) }"
                        aria-hidden="true"> </i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of currencies |  orderBy: {property: column, direction: direction}">
                <td *ngFor="let key of keys" (click)="myModal.show(); selectedCurrency(item)" [ngStyle]="{'text-align':isNumber(item[key])?'center':'left'}">{{ item[key] }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
        <div class="btn-group pull-right">
            <ul class="pagination">
                <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}">
                    <a (click)="prevPage()">Prev</a>
                </li>
                <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}">
                    <a (click)="nextPage()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-action">
                    <form class="form-inline form-search">
                        <span class="form-group row" style="float:right">
                            <label>Filter:</label>
                            <input type="text" class="form-control">
                        </span>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th class=" th-header">
                            <span class="glyphicon glyphicon-plus"></span>
                        </th>
                        <th *ngFor="let item of keys" [hidden]="!item.visible" class="th-header" (click)="sort(item)">
                            <span>{{ item.displayName }} </span>&nbsp;
                            <i class="fa" [ngClass]="{'fa-sort': column != item.fieldName, 'fa-sort-asc': (column == item.fieldName && isDesc), 'fa-sort-desc': (column == item.fieldName && !isDesc) }"
                                aria-hidden="true"> </i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let wallet of userWallets">
                        <td [ngStyle]="{'text-align':'center'}">
                            <a class="btn btn-primary btn-sm" (click)="balanceModal.show();balance.PrimaryWallet=wallet.walletguid">
                                <span class="glyphicon glyphicon-plus" style="color:white"></span>
                            </a>
                            <a class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-minus" style="color:white"></span>
                            </a>
                            <a class="btn btn-primary btn-sm" (click)="viewBalance.show();getBalance(wallet.walletguid)">
                                <span class="fa fa-dollar" style="color:white"></span>
                            </a>
                        </td>
                        <td *ngFor="let item of keys" [hidden]="!item.visible" [ngStyle]="{'text-align':'center'}">
                            {{ wallet[ item.fieldName] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="text-align:center!important; width:100%; ">Create Wallet</h2>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2vw;">
                <form name="form-inline" (ngSubmit)="f.form.valid && save(f)" #f="ngForm" novalidate>
                    <div *ngIf="errorResponse" style="text-align:center;color:red">{{errorMessage}}</div>
                    <!-- <div class="form-group row">
                        <label for="AccountID" class="col-sm-3 col-form-label">Account Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="AccountID" disabled [(ngModel)]="user.AccountID" #AccountID="ngModel" placeholder="Account ID"
                            />
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label for="CurrencyId" class="col-sm-3 col-form-label">Currency</label>
                        <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="user.CurrencyId" name="CurrencyId">
                                <option *ngFor="let currecy of filteredCurrencies" [value]="currecy.currencyid">{{currecy.currencyname}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{ 'has-error': WalletAddress.touched && !WalletAddress.valid }">
                        <label for="WalletAddress" class="col-sm-3 col-form-label">WalletAddress</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="PrivateKey" placeholder="Enter WalletAddress" [(ngModel)]="user.WalletAddress"
                                #WalletAddress="ngModel" required />
                            <div *ngIf="WalletAddress.touched && !WalletAddress.valid" class="help-block">WalletAddress is required</div>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{ 'has-error': PrivateKey.touched && !PrivateKey.valid }">
                        <label for="PrivateKey" class="col-sm-3 col-form-label">Private Key</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="PrivateKey" placeholder="Enter Private Key" [(ngModel)]="user.PrivateKey" #PrivateKey="ngModel"
                                required />
                            <div *ngIf="PrivateKey.touched && !PrivateKey.valid" class="help-block">Private Key is required</div>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{ 'has-error': PublicKey.touched  && !PublicKey.valid }">
                        <label for="PublicKey" class="col-sm-3 col-form-label">Public Key</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="PublicKey" placeholder="Enter Public Key" [(ngModel)]="user.PublicKey" #PublicKey="ngModel"
                                required />
                            <div *ngIf="PublicKey.touched && !PublicKey.valid" class="help-block">Public Key is required</div>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{ 'has-error': Mobile.touched && !Mobile.valid }">
                        <label for="Mobile" class="col-sm-3 col-form-label">Mobile</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" name="Mobile" placeholder="Enter Mobile" [(ngModel)]="user.Mobile" #Mobile="ngModel"
                                required />
                            <div *ngIf="Mobile.touched && !Mobile.valid" class="help-block">Mobile is required</div>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-error': Label.touched && !Label.valid }">
                        <label for="Label" class="col-sm-3 col-form-label">Label</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Label" placeholder="Enter Label" [(ngModel)]="user.Label" #Label="ngModel"
                                required />
                            <div *ngIf="Label.touched && !Label.valid" class="help-block">Label  is required</div>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{ 'has-error': Email.touched && !Email.valid }">
                        <label for="Email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="Email" placeholder="Enter Email" [(ngModel)]="user.Email" #Email="ngModel"
                                required />
                            <div *ngIf="Email.touched && !Email.valid" class="help-block">Email is required</div>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{ 'has-error': Guid.touched && !Guid.valid }">
                        <label for="Guid" class="col-sm-3 col-form-label">Guid</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Guid" placeholder="Enter Guid" [(ngModel)]="user.Guid" #Guid="ngModel" required
                            />
                            <div *ngIf="Guid.touched && !Guid.valid" class="help-block">Guid is required</div>
                        </div>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <button type="button" style="float:right; margin-left:0.6vw;" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
                    <button class="center-block" style="float:right; margin-left:0.6vw;" type="submit" class="btn btn-primary">
                        <span style="margin-left:0.6vw;">Create</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>




<div bsModal #balanceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add Balance" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="text-align:center!important; width:100%; ">Add Balance</h2>
                <button type="button" class="close" (click)="balanceModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2vw;">
                <form name="form-inline" (ngSubmit)="addBalaceForm.form.valid && addBalance(balanceModal,addBalaceForm) " #addBalaceForm="ngForm"
                    novalidate>
                    <!-- <div class="form-group row">
                        <label for="primaryWallet" class="col-sm-3 col-form-label">Primary Wallet</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled name="primaryWallet" [(ngModel)]="balance.PrimaryWallet" #primaryWallet="ngModel"
                                placeholder="Enter Primary Wallet" />
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label for="Units" class="col-sm-3 col-form-label">Units</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Units" [(ngModel)]="balance.Units" #Units="ngModel" placeholder="Enter Units"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="usdrate" class="col-sm-3 col-form-label">USD Rate</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="usdrate" [(ngModel)]="balance.usdrate" #usdrate="ngModel" placeholder="Enter rate"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="usdAmount" class="col-sm-3 col-form-label">USD Amount</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="usdAmount" [(ngModel)]="balance.usdAmount" #usdAmount="ngModel" placeholder="Enter USD Amount"
                            />
                        </div>
                    </div>

                    <button type="button" style="float:right; margin-left:0.6vw;" class="btn btn-secondary" (click)="balanceModal.hide()">Close</button>
                    <button class="center-block" style="float:right; margin-left:0.6vw;" type="submit" class="btn btn-primary">
                        <span style="margin-left:0.6vw;">Add</span>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>


<div bsModal #viewBalance="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Balance</h4>
                <button type="button" class="close" (click)="viewBalance.hide();userWalletBalance=''" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Balance &hellip;{{userWalletBalance | number : '0.0-7'}}
                </p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->