
<div class="row">
    <div class="col-md-6">
            <table-layout [records]=buyHistory [settings]="buySellheaderSettings" title="BIDS"></table-layout>

    </div>
    <div class="col-md-6">
            <table-layout [records]=askHistory [settings]="buySellheaderSettings" title="ASKS"></table-layout>

    </div>
</div>