<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="border:1px">
            <ul class="list-group">
                <li class="list-group-item">Summary</li>
            </ul>
            <hr>
            <ul class="list-group">
                 <li class="list-group-item ">Basic Verification</li>
                 <li class="list-group-item">Enhanced Verification</li>
            </ul>
            <hr>

            <ul class="list-group">
                    <li class="list-group-item">Password</li>
               </ul>
           </div>
        <div class="col-md-1 ">
        </div>        
        <div class="col-md-8 ">
            <h2>User Activity</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Address</th>
                        <th>UserAgent</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>