
<nav class="navbar navbar-default  navbar-static-top m-b-0" style="padding-left:0px">
    <div class="navbar-header">
        <div class="top-left-part">
            <a class="logo" href="#">
                <span class="">
                <img src="assets/img/logo/bitrrexchange2.png" alt="home" class="dark-logo" style="height:50px;width:139px">
                <img src="assets/img/logo/bitrrexchange2.png" alt="home" class="light-logo">
             </span> </a>
        </div>

        <ul class="nav navbar-top-links navbar-right pull-right active">1
                <li *ngIf="!authenticationService.isLogin" class="nav-item">
                        <a routerLink="/register">
                             <span class="glyphicon glyphicon-registration-mark"></span> Register
                        </a>
                  </li>
              
                <li *ngIf="!authenticationService.isLogin" class="nav-item">
                      <a routerLink="/login">
                           <span class="glyphicon glyphicon-log-in"></span> Login
                      </a>
                </li>
            <li class="dropdown"  *ngIf="authenticationService.isLogin" >
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                   <img src="assets/img/avatars/6.jpg" alt="user-img" width="36" class="img-circle">
                   <!-- <b class="hidden-xs">Steave</b> -->
                   <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="http://www.s10health.in/doctorImages/482_362/default_user_icon.png" alt="user"></div>
                            <div class="u-text">
                                <h4>{{ authenticationService.userName}}</h4>
                                <p class="text-muted">{{authenticationService.userEmail}}</p><a  class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ><a routerLink="/user/profile"><i class="ti-user"></i> My Profile</a></li>
                    <li ><a routerLink="/user/order"><i class="fa fa-calendar"></i> My Orders</a></li>
                    <li ><a routerLink="/user/wallet"><i class="ti-wallet"></i> My Balance</a></li>
                    <li role="separator" class="divider"></li>
                    <li ><a routerLink="/user/profile"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li (click)="logout()"><a ><i class="fa fa-power-off" ></i> Logout</a></li>
                </ul>
            </li>
           
        </ul>
    </div>
</nav>