<div>
    <div class="panel">
        <div class="panel-heading">
            OPEN
            <div class="panel-action">
                <form class="form-inline ">
                    <span class="form-group row ">
                        <label>Filter:</label>
                        <input type="text" class="form-control" name="search" [(ngModel)]="inputName" (change)="FilterByName()">
                    </span>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped orders">
                <thead>
                    <tr>
                        <th class="col-header th-header">
                            <span># </span>&nbsp;
                        </th>
                        <th *ngFor="let item of openOrderKeys" [hidden]="!item.visible" class="col-header th-header">
                            <span>{{ item.displayName }} </span>
                        </th>
                        <th class="col-header th-header">
                            <span class="glyphicon glyphicon-remove" style="color:white"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of openOrders; let i = index" style="text-align:center">
                        <td> {{ i + 1}}
                        </td>
                        <td *ngFor="let item of openOrderKeys" [hidden]="!item.visible" style="text-align:center">
                            <div *ngIf="item.type == 'CurrencyName'">
                                <img [src]="order.cursymbolurl" style="float:left" class="currrecy-logo">
                                <span>
                                    {{ order[ item.fieldName] }}
                                </span>
                            </div>
                            <div *ngIf="item.type == 'String'">
                                {{ order[ item.fieldName] }}
                            </div>
                            <div *ngIf="item.type == 'percent'">
                                <input type="number" [name]="item.fieldName" [(ngModel)]="order[ item.fieldName]" *ngIf="edit" />
                                <span *ngIf="!edit"> {{ order[ item.fieldName] || 0}}</span>
                            </div>
                            <div *ngIf="item.type == 'primary'">
                                <span *ngIf="edit">
                                    <!-- <ui-switch (change)="onChange($event)" [(ngModel)]="order[ item.fieldName]" [checked]="order[ item.fieldName] == 1"></ui-switch> -->
                                    <label class="switch switch-3d switch-primary">
                                        <input checked="" class="switch-input" type="checkbox" (change)="onChange($event)" [(ngModel)]="order[ item.fieldName]" [checked]="order[ item.fieldName] == 1">
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </span>
                                <span *ngIf="!edit">
                                    {{ order[ item.fieldName] == 1 }}
                                </span>
                            </div>
                            <div *ngIf="item.type == 'dateTime'">
                                {{ order[ item.fieldName] | amUtc | amDateFormat: 'YYYY-MM-DD hh:mm:ss' }}
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" #cancel>
                                <span class="glyphicon glyphicon-remove" style="color:white"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   
    <div >
        <div class="panel">
            <div class="panel-heading">
                Completed
                <div class="panel-action">
                    <form class="form-inline ">
                        <span class="form-group row ">
                            <label>Filter:</label>
                            <input type="text" class="form-control" name="search" [(ngModel)]="inputName" (change)="FilterByName()">
                        </span>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped orders">
                    <thead>
                        <tr>
                            <th class="col-header th-header">
                                <span># </span>&nbsp;
                            </th>
                            <th *ngFor="let item of closedOrderKeys" [hidden]="!item.visible" class="col-header th-header">
                                <span>{{ item.displayName }} </span>
                            </th>
                            <th class="col-header th-header" *ngIf="edit">
                                <span>Action </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of closedOrders; let i = index">
                            <td> {{ i + 1}}
                            </td>
                            <td *ngFor="let item of closedOrderKeys" [hidden]="!item.visible" style="text-align:center">
                                <div *ngIf="item.type == 'CurrencyName'">
                                    <img [src]="order.cursymbolurl" style="float:left" class="currrecy-logo">
                                    <span>
                                        {{ order[ item.fieldName] }}
                                    </span>
                                </div>
                                <div *ngIf="item.type == 'String'">
                                    {{ order[ item.fieldName] }}
                                </div>
                                <div *ngIf="item.type == 'percent'">
                                    <input type="number" [name]="item.fieldName" [(ngModel)]="order[ item.fieldName]" *ngIf="edit" />
                                    <span *ngIf="!edit"> {{ order[ item.fieldName] || 0}}</span>
                                </div>
                                <div *ngIf="item.type == 'primary'">
                                    <span *ngIf="edit">
                                        <!-- <ui-switch (change)="onChange($event)" [(ngModel)]="order[ item.fieldName]" [checked]="order[ item.fieldName] == 1"></ui-switch> -->
                                        <label class="switch switch-3d switch-primary">
                                            <input checked="" class="switch-input" type="checkbox" (change)="onChange($event)" [(ngModel)]="order[ item.fieldName]" [checked]="order[ item.fieldName] == 1">
                                            <span class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </span>
                                    <span *ngIf="!edit">
                                        {{ order[ item.fieldName] == 1 }}
                                    </span>
                                </div>
                                <div *ngIf="item.type == 'dateTime'">
                                    {{ order[ item.fieldName] | amUtc | amDateFormat: 'YYYY-MM-DD hh:mm:ss' }}
                                </div>
                            </td>
                            <td *ngIf="edit">

                                <a class="btn btn-primary btn-sm" #cancel>
                                    <span class="glyphicon glyphicon-remove" style="color:white"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>